<!DOCTYPE html>
<html ng-app="vertxFeeds">
    <head>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/libs/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
		<script type="text/javascript">
			window.userToken = "{{accessToken}}";
		</script>
		<script type="text/javascript" src="/assets/scripts/libs/angular.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/angular-interpolator-shim.js"></script>
		{{#block "scripts" }}
		{{/block}}
    </head>
    <body>
		<div id="main-menu">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="/index.hbs" class="active">Vertx Feeds</a></h1>
					</li>
				</ul>

				<section class="top-bar-section">
					<ul class="right">
						{{#if userLogin}}
						<li><a href="javascript:void(0)">Hello, {{userLogin}}</a></li>
						{{else}}
						<li><a href="/login.hbs">Log in</a></li>
						{{/if}}
					</ul>
					<ul class="left">
						<li><a href="/private/news.hbs">My news feed</a></li>
						<li><a href="/private/manage.hbs">Manage subscriptions</a></li>
					</ul>
				</section>
			</nav>
		</div>
		<section class="content">
		{{#block "content" }}
		{{/block}}
		</section>
	</body>
</html>
