{{#partial "content" }}
	<h2>News feed</h2>
	<p>Here are the feeds you subscribed to.</p>
	<div class="news-feed" ng-controller="NewsFeedCtrl">
		
	</div>
	<button class="button small" ng-click="">Add a new feed</button>
{{/partial}}
{{> templates/layout.hbs}}