{{#partial "content" }}
	<h2>News feed</h2>
	<p>Here are the news aggregated from the feeds you subscribed to.</p>
	<div class="news-feed" ng-controller="NewsFeedCtrl">
		
	</div>
{{/partial}}
{{> templates/layout.hbs}}