{{#partial "scripts" }}
	<script type="text/javascript" src="/assets/scripts/ManageFeedsCtrl.js"></script>
	<link rel="stylesheet" href="/assets/stylesheets/manage.css" />
{{/partial}}
{{#partial "content" }}
	<h3>Manage your subscriptions</h3>
	<div ng-controller="ManageFeedsCtrl">
		<p ng-if="!subscriptions.length">You have not subscribed at any feeds.</p>
		<div layout="column">
			<md-card class="subscription" ng-if="pendingSubscription">
				<md-card-content>
				<h2>Feed Form</h2>
				<form name="addFeedForm" ng-submit="savePending()" >
					<div layout="row">
						<md-input-container flex="100">
							<label>URL</label>
							<input type="url" name="url" ng-model="pendingSubscription.url" placeholder="http://your.feed.here" required>
						</md-input-container>
					</div>
					<div layout="row">
						<div flex="100" md-color-picker ng-model="pendingSubscription.color" label="Choose a color" required></div>
					</div>
					<div layout="row" layout-align="center center">
						<button type="submit" md-button="md-button" class="md-raised md-primary md-cornered">Save</button>
						<button class="button-secondary" ng-click="cancelPending()" md-button="md-button">Cancel</button>
					</div>
				</form>
				</md-card-content>
			</md-card>
			<md-card class="subscription" ng-repeat="subscription in subscriptions">
				<md-card-content>
					<div class="color_choice" style="background-color: {[{subscription.color}]};"></div>
					<a href="{[{subscription.url}]}" target="_blank">
						<h2 ng-bind="subscription.url" class="title"></h2>
					</a>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-raised md-primary md-cornered" ng-click="unsubscribe(subscription)">Unsubscribe</md-button>
				</md-card-actions>
			</md-card>
          </div>
			<button ng-click="addSubscription()" class="add_button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
				<i class="material-icons">add</i>
			</button>
		</div>
{{/partial}}
{{> templates/layout.hbs}}