{{#partial "scripts" }}
<script src="/assets/scripts/libs/sockjs.min.js"></script>
<script src="/assets/scripts/libs/vertxbus.js"></script>
<script src="/assets/scripts/NewsFeedCtrl.js"></script>
<link rel="stylesheet" href="/assets/stylesheets/news.css" />
{{/partial}}
{{#partial "content" }}
	<h3>News feed</h3>
	
	<md-content ng-controller="NewsFeedCtrl" layout="column">
		<md-card class="feed" md-whiteframe="11" style="margin: 10px 20%; border-left: 10px solid {[{ entry.feed.color }]};"
		ng-repeat="entry in entries">
			<md-card-content>
				<a href="{[{entry.link}]}" target="_blank">
					<h2 ng-bind="entry.title" class="title"></h2>
				</a>
				<p ng-bind="entry.description"></p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<span>{[{ entry.published.slice(0,-3) + 'Z' | date: "medium" }]}</span>
			</md-card-actions>
		</md-card>
	</md-content>
{{/partial}}
{{> templates/layout.hbs}}